// out: ../dist/main.min.css, compress: true, sourceMap: true
@import "./_variables.less";
@import "./_mixins.less";

html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  font-size: 10px;
}

@import "./blocks/_title.less";
@import "./blocks/_text.less";
@import "./blocks/_logo.less";
@import "./blocks/_header.less";
@import "./blocks/_swiper.less";
@import "./blocks/_higher.less";
@import "./blocks/_btn.less";
@import "./blocks/_features.less";
@import "./blocks/_vision.less";
@import "./blocks/_flying.less";
