// main: ./../main.less

.higher {
  &:extend(.flex);

  &__copter {
    &:extend(.flexColumn);
    align-items: center;
    justify-content: center;

    flex-basis: 30%;

    background-image: url("@{img}photo-bg.png");
    background-size: cover;
  }
  &__coptr-title {
    margin-bottom: 1.1rem;
  }
  &__flying {
    position: relative;

    flex-basis: 70%;
  }
  &__flying-box {
    position: absolute;

    &:extend(.flexCenter);
    justify-content: center;

    width: 50%;
    height: 99%;

    background-color: @secondaryColor;
    opacity: 0.7;
  }
  &__flying-title {
    flex-basis: 60%;
  }
  &__flying-img {
    width: 100%;
  }
  &__flying-btn {
    position: absolute;
    right: 15%;
    top: 50%;

    transform: rotate(-90deg);
  }
}
