// main: ./../main.less

.higher {
  &:extend(.flex);

  &__copter {
    &:extend(.flexColumn);
    align-items: center;
    justify-content: center;

    flex-basis: 32%;

    background-image: url("@{img}photo-bg.png");
    background-size: cover;
  }
  &__coptr-title {
    margin-bottom: 1.1rem;
    padding-left: 91px;
  }
  &__flying {
    position: relative;

    flex-basis: 70%;
  }
  &__flying-box {
    position: absolute;

    &:extend(.flexCenter);
    justify-content: center;

    width: 45%;
    height: 99%;

    background-color: @secondaryColor;
    opacity: 0.7;
  }
  &__flying-title {
    flex-basis: 76%;
  }
  &__flying-img {
    width: 100%;
  }
  &__flying-btn {
    position: absolute;
    right: 10%;
    top: 45%;

    transform: rotate(-90deg);
    &::after {
      content: "";
      position: absolute;
      display: block;
      right: 192px;
      top: 25px;
      width: 215px;
      height: 1px;
      background-color: #fff;
    }
  }
}
